<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Groupie tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>

    <section>
        <div>
            <form class="form-inline" action="/" method="POST">
                <input type="submit" class="btn btn-light" value="Main Page">
            </form>
        </div>

        <div class="media">
            <img class="mr-3" src={{.Image}} width="450" alt={{.Name}}>
            <div class="media-body artist">
                <h1>{{.Name}}</h1>
                <p><b>Creation Date:</b> {{.CreationDate}} <b>First Album Released:</b> {{.FirstAlbum}}</p>
                <p><b>Members:</b> {{range .Members}} {{.}}, {{end}}
                    <div class="conteiner">
                        <div>
                            {{range $key, $value := .DatesLocations}}
                            <div class="artist-data">
                                <b>{{$key}}</b>
                            </div>
                            {{range $value}}
                            <div class="data">{{.}}</div>
                            <br> {{end}} {{end}}
                        </div>
                    </div>
                </p>


            </div>
        </div>






    </section>

</body>

</html>