<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Groupie tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>

    <section>

        <div class="search" style="padding-block: 15px;" id="search">

            <form class="form-inline" action="/" method="POST">
                <input type="text" name="search" placeholder="type to search">
                <button type="submit" hidden="true"></button>
            </form>

        </div>
        <div id="cards" class="row">
            {{range .}}
            <div class="col">
                <div class="card h-100" style="width: 350px;">
                    <img src={{.Image}} class="card-img-top" alt={{.Name}}>
                    <div class="card-body">
                        <h5 class="card-title">{{.Name}}</h5>
                        <p>Members:</p>
                        {{range .Members}}
                        <ul>
                            <li>{{.}}</li>
                        </ul>
                        {{end}}
                        <div>
                            <a href="#concert"  class="btn btn-primary">Concert Schedule</a>
                            <div id="concert" class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

        

    </section>

</body>

</html>