<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Groupie tracker</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">

</head>

<body>

    <section>
        <div>
            <form class="form-inline" action="/" method="POST">
                <input type="submit" class="btn btn-light" value="Main Page">
            </form>
        </div>

        <div class="search" id="search">
            <form class="form-inline" action="/" method="POST">
                <input type="text" name="search" placeholder="type to search" list="character">
                <datalist id="character">
                    {{range .}}
                    <option value={{.Name}}>{{.Name}} - artist/band</option>
                    {{range .Members}}
                    <option value="{{.}}">{{.}} - member</option>
                    {{end}}
                    {{range .Locations}}
                    <option value={{.}}>{{.}} - location</option>
                    {{end}}
                    <option value={{.CreationDate}}>{{.CreationDate}} - Creation Date</option>
                    <option value={{.FirstAlbum}}>{{.FirstAlbum}} - First Album Release Date</option>
                    {{end}}
                   </datalist>
                <button type="submit" hidden="true"></button>
            </form>

        </div>
        <div id="cards" class="row">
            {{range .}}
            <div class="col">
                <div class="card text-white bg-dark h-100" style="width: 250px;">
                    <img id="img" src={{.Image}} class="card-img-top" alt={{.Name}}>
                    <div class="card-header" style="font-size: 30px;">{{.Name}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Members:</h5>
                        {{range .Members}}
                        <ul class="card-text">
                            <li style="margin-bottom: 0rem;">{{.}}</li>
                        </ul>
                        {{end}}
                        <h5 class="card-title">Creation Date:</h5>
                        <p class="card-text"> {{.CreationDate}}</p>
                        <h5 class="card-title">First Album Released:</h5>
                        <p class="card-text">{{.FirstAlbum}}</p>
                        <div class="card-footer text-white bg-dark">
                            <form class="form-inline" action="/concert" method="POST">
                                <input type="hidden" name="concert" value={{.ID}}>
                                <input type="submit" class="btn btn-light" value="Concert Schedule">
                            </form>


                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>

    </section>

</body>

</html>